<template>
  <div v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative']">
    <div class="container-left">
      <img id="logo" alt="Resultado" src="/images/result.png" class="img-result-title"/>
    </div>
    <div class="card-end">
        <div class="display-flex info-section-group">
            <div class="display-flex info-section-end">
                <div class="info-section-title">Tempo</div>
                <div class="info-section-result">{{this.game.time}}</div>
            </div>
        </div>
        <div class="display-flex info-section-group">
            <div class="display-flex info-section-end">
                <div class="info-section-title">Nº de Pratos</div>
                <div class="info-section-result">{{this.game.recipesDoneP1.length}}</div>
            </div>
        </div>
        <div class="display-flex info-section-group">
            <div class="display-flex info-section-end">
                <div class="info-section-title">Moedas</div>
                <div class="info-section-result">{{this.game.cookieCoinsP1}}</div>
            </div>
        </div>
    </div>    
    <img alt="Cookie Man Image" src="/images/cookie.png" class="img-cookie-man-waiting"/>
    <div class="margin-left-251">
        <router-link aria-labelledby="Mudar para o Menu Inicial" to="/home"><button class="default-button-end-active">Menu Inicial</button></router-link>
        <img alt="Partilhar no Facebook"  v-on:click="this.social" src="/images/facebook.png" class="img-facebook"/>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import config from '../../../environments.js'

/**
 * @vue-data {Object} game - Game Object
 * @vue-event {Promise<void>} social - Communication and Consumption of social API
 * @module vue/EndGame
 */
export default {
    data() {
            return {
                game: this.$route.params.game
            }
        },
    methods: {
	/**
         * @async
         * @returns {Promise<void>}
         * 
         */
        async social(){
         
            let res;
            let message = "Já sou um profissional a cozinhar. Fiz " +  this.game.cookieCoinsP1 + " moedas!";

            const delay = ms => new Promise(resolve => setTimeout(resolve, ms))
            
            let tries = 5;
            for (let i = 1; i <= tries; i++) {
                axios
                .get('http://' + config.host + ':8888/apis/social?playerId='+ this.game.playerId1 +'&message=' + message)
                .then(response => {})
                .catch(error => {
                    if(i===tries){
                        this.error(error);
                    }
                });
                await delay(1000);
            }
        },
        error(err){
            this.$router.push('/error?error='+ err.response.status);
        },
        endGame(){
            console.log("GO!");
            console.log(this.game);
            let json = this.game;
            let res;
            console.log(JSON.stringify(json));
            axios
            .post('http://' + config.host + ':8888/apis/endGame', JSON.stringify(json), { headers: { 'Content-Type': 'application/json' } })
            .then(response => {
                res = response;
                console.log(res);
            })
            .catch(error => {
                this.error(error);
            });
        }
    },
    mounted(){
       this.endGame();
    }
}
</script>