<template>
  <div v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative']">
    <div class="container-left">
      <img id="logo" alt="Resultado" src="/images/result.png" class="img-result-title"/>
    </div>
    <img alt="Número de Pratos" src="/images/fulldish.png" class="img-dish-end"/>
    <img alt="Moedas recebidas" src="/images/coins.png" class="img-coins-end"/>
    <div class="card-end">

        <p class="h1-end">{{ this.game.result === 1 && this.game.isP1 ? "Ganhaste!" : this.game.result === 1 && !this.game.isP1 ? "Perdeste" : this.game.result === 2 && this.game.isP1 ? "Perdeste" : this.game.result === 2 && !this.game.isP1 ? "Ganhaste!" : "Empate"}}</p>
        <div class="margin-top-25">
       <table aria-label="Crazy Cook Rankings" class="default-table">
              <tr class="default-label-statistics-statistics">
                    <th class="width-100px">Jogador 1</th>
                    <th class="width-100px">Jogador 2</th>    
               </tr>
               <tr class="default-label-statistics-statistics-td">  
                    <td class="default-table td">{{this.game.nRecipesP1}}</td>
                    <td class="default-table td">{{this.game.nRecipesP2}}</td>
               </tr>
               <tr class="default-label-statistics-statistics-td" >
                    <td class="default-table td">{{this.game.cookieCoinsP1}}</td>
                    <td class="default-table td">{{this.game.cookieCoinsP2}}</td>   
               </tr>
        </table>
        </div>
    </div>   
    <img alt="Cookie Man Jogador 1" src="/images/cookie_P1.png" class="img-cookie-man-p1"/> 
    <img alt="Cookie Man Jogador 2" src="/images/cookie_P2.png" class="img-cookie-man-p2"/>
    <div class="margin-left-251">
      <router-link aria-labelledby="Mudar para o Menu Inicial" to="/home"><button class="default-button-end-active">Menu Inicial</button></router-link>
      <img alt="Partilhar no Facebook" src="/images/facebook.png" class="img-facebook"/>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import config from '../../../environments.js'

/**
 * @vue-data {Object} game - Game Object
 * @vue-event {Promise<void>} social - Communication and Consumption of social API
 * @module vue/EndGameMultiplayer
 */
export default {
        data() {
            return {
                game: this.$route.params.game
            }
        },
    methods: {
        async social(){
         
            let res;
            let message = "Sou grande Chef, acabei de competir e fiz " + this.game.cookieCoinsP1 + " moedas !";

            const delay = ms => new Promise(resolve => setTimeout(resolve, ms))
            
            let tries = 5;
            for (let i = 1; i <= tries; i++) {
                axios
                .get('http://' + config.host + ':8888/apis/social?playerId='+ this.game.playerId1 +'&message=' + message)
                .then(response => {})
                .catch(error => {
                    if(i===tries){
                        this.error(error);
                    }
                });
      
                await delay(1000);
            }
        },
        error(err){
            this.$router.push('/error?error='+ err.response.status);
        },
        endGame(){
            console.log("GO!");
            console.log(this.game);
            let json = this.game;
            let res;
            console.log(JSON.stringify(json));
            axios
            .post('http://' + config.host + ':8888/apis/endGame', JSON.stringify(json), { headers: { 'Content-Type': 'application/json' } })
            .then(response => {
                res = response;
                console.log(res);
            })
            .catch(error => {
                this.error(error);
            });
        }
    },
    mounted(){
       this.endGame();
    }
}
</script>