<template>
  <div v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative', 'display-flex']">
    
    <div class="container-left-gameStart">

      <router-link aria-label="Voltar ao Menu Principal" to="/home"><img alt="Voltar ao Menu" src="/images/rewind-button.png" class="rewind-button-gameStart"></router-link>

      <img id="logo" alt="Logo Crazy Cook" src="/images/title.png" class="img-crazy-cook-title-gamestart" >      

      <div class="margin-top-25">
        <router-link aria-labelledby="Modo Singleplayer" class="button button-gamestart" to="/singlePlayer">SINGLE PLAYER</router-link>
      </div>

      <div class="margin-top-25">
        <router-link aria-labelledby="Modo Multiplayer" class="button button-gamestart" to="/waitingRoom?mode=1&difficulty=MEDIUM">MULTIPLAYER</router-link>
      </div>
          
    </div>
    <div class="container-right-gameStart">
      <div class="margin-top-70 img-group">
        <div class="img-book-group">
          <div class="display-inline-block">
              <img alt="Livro de Receitas Laranja" src="/images/recipebook.png" class="img-orange-book">
          </div>
          <div class="display-inline-block">
            <img alt="Livro de Receitas Verde" src="/images/recipegreen.png" class="img-green-book">
          </div>
          <div class="display-inline-block">
            <img alt="Livro de Receitas Amarelo" src="/images/recipeyellow.png" class="img-yellow-book">
          </div>
        </div>
        <div>
          <img alt="Homem Bolacha" src="/images/cookie.png" class="img-cookie-man">
        </div>
      </div>
    </div>
  </div>
</template>
  
<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "/css/style.css";
</style>
