<template>
<div class="screen">

    <div id="loading">
        <div class="black-screen"/>
        <div class="game-waiter card-waiting">
            <p class="h2-waiting">A limpar a cozinha...</p>
            <div class="loader"></div>
        </div>
    </div>


    <div id="ingredientsMenu" class="sidenav-ingredients">
    <div class="ingredients-list2">
        <h1>Lista de Ingredientes</h1>
        </div>
            <div v-for="ingredient in this.board.ingredients" :key="ingredient">
                <input aria-labelledby="Ingredientes" type="checkbox" :id="ingredient" :value="ingredient" v-model="ingredientsSelected" > {{ingredient}}
            </div>
            <div>
            <button class="margin-5 button-mix" aria-labelledby="Lista de Ingredients" id="selecionar" v-on:click="this.chooseIngredients">Juntar</button>
        </div>
    </div>

    <div id="sellingMenu" class="sidenav">
        <h1 class="game-recipe-name">{{this.board.sellMenu.name}}</h1>
        <div>
            <h2 class="game-recipe-name">{{this.board.sellMenu.payment}} <img alt="Moedas" class="coins" src="/images/coins.png"/> </h2>
        </div>
        <div class="game-recipe-name">
            <h3 class="ingredients-title">Ingredientes</h3>
        </div>
        <div class="ingredients-list">
            <li v-for="ingredient in this.board.sellMenu.ingredients" :key="ingredient.name">
                {{ ingredient.name }}
            </li>
        </div>
            <div class="actions-title">
                <h3>Ações</h3>
            </div>
        <div class="actions-list">
            <li v-for="task in this.board.sellMenu.tasks" :key="task.name">
                {{ task.name }} : {{ task.time }}s
            </li>
        </div>
        <div>
            <button class="margin-5 button-game" aria-labelledby="Vender" id="vender" v-on:click="this.sellPlate">Vender</button>
        </div>
    </div>
    <div id="time" role="Time Left">
        <span id='digitalClock'> {{ this.time.formatted }} </span>
        <div id="analogicalClock">
            <img id="frame" alt="Estrutura Relógio" src="/images/clockframe.png"/>
            <img id="arm" alt="Braço Relógio" src="/images/clockarm.png" :style="rotation"/>
        </div>
        <span id='coinNumber' alt="Número de Moedas">
            <img id="coins" alt="Simbolo de Moedas" src="/images/coins.png"/>
            {{ this.game.isP1 ? this.game.cookieCoinsP1 : this.game.cookieCoinsP2}}
        </span>
    </div>
    <div role="Game Board 0-3" class="board">
<!-- 1 linha -->
        <div role="1st Square" class="square" id='0-1' ></div>
        <div role="2nd Square" class="square" id='0-2' ></div>
        <div role="3rd Square" class="square" id='0-3' >
            <div class="action">
                <img alt="Ação Cortar " src="/images/cut.png">
            </div>
            <div role="Progress Bar" class="progress">
                <div role="Cook Progress bar" class="bar" :style="{ backgroundColor: this.board.top.cut.progress >= '100' ? '#92d050' : '#ffcc00', width: this.board.top.cut.progress + '%' }"></div>
            </div>
            </div>
        <div class="square" id='0-4'>
            <div role="Cook Action Square" class="action">
                <img alt="Ação Cozer" src="/images/cook.png"/>
            </div>
            <div role="Cook Progress" class="progress">
                <div role="Cook Progress bar" class="bar" :style="{ backgroundColor: this.board.top.cook.progress >= '100' ? '#92d050' : '#ffcc00', width: this.board.top.cook.progress + '%' }"></div>
            </div>
        </div>
        <div class="square" id='0-5' >
            <div role="Plate Action Square" class="action">
                <img alt="Ação Empratar" src="/images/plate.png"/>
            </div>
            <div class="progress">
                <div role="Cook Progress bar" class="bar" :style="{ backgroundColor: this.board.top.plate.progress >= '100' ? '#92d050' : '#ffcc00', width: this.board.top.plate.progress + '%' }"></div>
            </div>        
        </div>
        <div class="square" id='0-6' ></div>
        <div class="square" id='0-7' ></div> 
<!-- 2 linha -->       
        <div class="square" id='1-1' ></div>
        <div class="square" id='1-2' ></div>
        <div class="square" id='1-3' ></div>
        <div class="square" id='1-4' ></div>
        <div class="square" id='1-5' ></div>
        <div class="square" id='1-6' ></div>
        <div class="square" id='1-7' >
            <img alt="Livro de Receitas" class="recipes" id="book" src="/images/recipebook.png"/>
        </div> 
<!-- 3 linha -->
        <div class="square" id='2-1' >
            <img alt="Lista de Ingredientes" class="ingredients" id="ingredients1" src="/images/ingredients.png"/>
        </div>
        <div class="square" id='2-2' ></div>
        <div class="square" id='2-3' ></div>
        <div class="square" id='2-4' >
            <div id="player3" draggable="true">
                <img id="cookie3" alt="Cookie Man" src="/images/cookie_P1.png" draggable="false" class="noDrop"/>
                <img id="plate3" :src= "`${ this.player1.plate ? '/images/emptydish.png' : ''}`" draggable="false" class="noDrop">
                    <img id="food3" :src= "`${ this.player1.plate && this.player1.plate.ingredientsPicked ? '/images/food.png' : ''}`" draggable="false" class="noDrop"/>
                </img>
            </div>
        </div>
        <div class="square" id='2-5' ></div>
        <div class="square" id='2-6' ></div>
        <div class="square" id='2-7' >
            <img alt="Livro Receitas Azul" class="recipes" id="recipe1" src="/images/recipeblue.png"/>
        </div> 
<!-- 4 linha -->
        <div class="square" id='3-1' >
            <img alt="Vender Itens" class="sell" id="sell" src="/images/sell.png"/>
        </div>
        <div class="square" id='3-2' ></div>
        <div class="square" id='3-3' ></div>
        <div class="square" id='3-4' ></div>
        <div class="square" id='3-5' ></div>
        <div class="square" id='3-6' ></div>
        <div class="square" id='3-7' >
            <img alt="Livro de Receitas Verde" class="recipes" id="recipe2" src="/images/recipegreen.png"/>
        </div> 
<!-- 5 linha -->
        <div class="square" id='4-1' >
            <img alt="Lista de Ingredientes" class="ingredients" id="ingredients2" src="/images/ingredients.png"/>
        </div>
        <div class="square" id='4-2' ></div>
        <div class="square" id='4-3' ></div>
        <div class="square" id='4-4' >
            <div id="player2" draggable="false">
                <img id="cookie2" alt="Cookie Man" src="/images/cookie_P2.png" draggable="false" class="noDrop"/>
            </div>
        </div>
        <div class="square" id='4-5' ></div>
        <div class="square" id='4-6' ></div>
        <div class="square" id='4-7' >
            <img alt="Livro de Receitas Vermelho" class="recipes" id="recipe3" src="/images/recipered.png"/>
        </div>
<!-- 6 linha -->
        <div class="square" id='5-1' ></div>
        <div class="square" id='5-2' ></div>
        <div class="square" id='5-3' ></div>
        <div class="square" id='5-4' ></div>
        <div class="square" id='5-5' ></div>
        <div class="square" id='5-6' ></div>
        <div class="square" id='5-7' ></div> 
<!-- 7 linha -->
        <div class="square" id='6-1' ></div>
        <div class="square" id='6-2' ></div>
        <div class="square" id='6-3' >
            <div class="progress">
                <div role="Cook Progress bar" class="bar" :style="{ backgroundColor: this.board.bottom.cut.progress >= '100' ? '#92d050' : '#ffcc00', width: this.board.bottom.cut.progress + '%' }"></div>
            </div>
            <div class="action">
                <img alt="Cortar" src="/images/cut.png"/>
            </div>
        </div>
        <div class="square" id='6-4' >
            <div class="progress">
                <div role="Cook Progress bar" class="bar" :style="{ backgroundColor: this.board.bottom.cook.progress >= '100' ? '#92d050' : '#ffcc00', width: this.board.bottom.cook.progress + '%' }"></div>
            </div>
            <div class="action">
                <img alt="Cozer" src="/images/cook.png"/>
            </div>
        </div>
        <div class="square" id='6-5' >
            <div class="progress">
                <div role="Cook Progress bar" class="bar" :style="{ backgroundColor: this.board.bottom.plate.progress >= '100' ? '#92d050' : '#ffcc00', width: this.board.bottom.plate.progress + '%' }"></div>
            </div>
            <div class="action">
                <img alt="Empratar" src="/images/plate.png"/>
            </div>        
        </div>
        <div class="square" id='6-6' ></div>
        <div class="square" id='6-7' ></div> 
    </div>

    <div id="recipeMenu" class="sidenav">
        <h1 class="game-recipe-name">{{this.board.recipe.recipeMenu.name}}</h1>
        <div>
            <h2 class="game-recipe-name">{{this.board.recipe.recipeMenu.payment}} <img class="coins" alt="Moedas" src="/images/coins.png"/> </h2>
        </div>
        <div class="game-recipe-name">
            <h3 class="ingredients-title">Ingredientes</h3>
        </div>
        <div class="ingredients-list">
            <li v-for="ingredient in this.board.recipe.recipeMenu.ingredients" :key="ingredient.name">
                {{ ingredient.name }}
            </li>
        </div>
        <div class="actions-title">
            <h3>Ações</h3>
        </div>
        <div class="actions-list">
        <li v-for="task in this.board.recipe.recipeMenu.tasks" :key="task.name">
            {{ task.name }} : {{ task.time }}s
        </li>
        </div>
        <div class="margin-top-27">
            <button class="margin-5 button-game" aria-labelledby="Cozinhar" id="cozinhar" v-on:click="this.chooseRecipe">Cozinhar</button>
        </div>
    </div>
</div>
</template>

<script>
import Worker from 'worker-loader!../workers/time_worker.js'
import axios from 'axios'
import config from '../../../environments.js'

let ws =null;

/**
 * @vue-data {Object} game - Game Object.
 * @vue-data {Object} time - Time Object.
 * @vue-data {Array} recipes - Recipes Array.
 * @vue-data {Object} player1 - Player1 Object.
 * @vue-data {Object} board - Board Object.
 * @vue-data {Object} sellMenu - sellMenu Object.
 * @vue-data {Array} ingredients - Ingredients Array.
 * @vue-data {Object} top - Top Object.
 * @vue-data {Object} cut - Cut Object.
 * @vue-data {Object} cook - Cook Objec.
 * @vue-data {Object} plate - Plate Object.
 * @vue-event {Void} setUpDragNDrop - Sets Drag and Drop on squares.
 * @vue-event {Boolean} dragInitialize - Initializes element to be dragged.
 * @vue-event {Boolean} allowDropStatus - Deals with the functionality of dropping the element.
 * @vue-event {Boolean} dropComplete - Stops the default action of the browser after drop and stops image propagation.
 * @vue-event {Void} incrementTime - Increments Game Time.
 * @vue-event {Void} startCounting - Starts the Web Worker and when time's up terminates the game.
 * @vue-event {Any} newRecipe - Randomizes recipes present in the game.
 * @vue-event {Void} chooseRecipe - Chooses the recipe.
 * @vue-event {Boolean} sameIngredients - Checks if the player chose the same ingredients as in the recipe.
 * @vue-event {Void} chooseIngredients - Adds selected ingredients to the player plate.
 * @vue-event {Any} incrementProgress - Increments progress in the action squares.
 * @vue-event {Any} startTask - Starts the action task.
 * @vue-event {Any} finishTask - Finishes the action task.
 * @vue-event {Any} getProgress - Returns the action task progress.
 * @vue-event {Any} taskAction - Checks if the action task has finished or needs to start.
 * @vue-event {Any} getPlayerTask - Gives the player the action tasks to complete.
 * @vue-event {Void} sellPlate - Sells the plate.
 * @vue-event {Any} calculatePayment - Calculates the payment.
 * @vue-event {Void} finishGame - Finishes the current game.
 * @module Vue/GameMultiplayer
 */
export default {
    name: "GameMultiplayer",
    data() {
        return {
            game:{},
            ingredientsSelected:[],
            percentage: 0,
            time: {
                secondsTotal:0,
                minutes: 0,
                seconds: 0,
                formatted: "00:00",            
                duration:100,
            },
            recipes : [],
            player1:{
                hat:"",
                plate: null,
                recipes: []
            },
            board:{
                recipe:{
                    recipe1:null,
                    recipe2:null,
                    recipe3:null,
                    recipeMenu:{ }
                },
                sellMenu:{ },
                ingredients:[],
                top:{
                    cut:{
                        time:0,
                        duration:0,
                        percentage:0,
                        recipe:null
                    },
                    cook:{
                        time:0,
                        duration:0,
                        percentage:0,
                        recipe:null
                    },
                    plate:{
                        time:0,
                        duration:0,
                        percentage:0,
                        recipe:null
                    }
                },
                bottom:{
                    cut:{
                        time:0,
                        duration:0,
                        percentage:0,
                        recipe:null
                    },
                    cook:{
                        time:0,
                        duration:0,
                        percentage:0,
                        recipe:null
                    },
                    plate:{
                        time:0,
                        duration:0,
                        percentage:0,
                        recipe:null
                    }
                }
            },
            otherPlayerPosition: '4-4'
        }
    },
    methods: {
        setUpDragNDrop(){
            for (let i = 2; i <= 4; i++) {
                for (let j = 2; j <= 6; j++) {
                    let square = document.getElementById(i + '-' + j);
                    square.addEventListener('dragover', this.allowDropStatus,   false);
                    square.addEventListener('drop',     this.dropComplete,      false);
                    square.addEventListener('drop',     this.action,            false);
                }
            }
            let player = document.getElementById('player3');
            player.addEventListener('dragstart', this.dragInitialize, false);
        },
        dragInitialize(ev) {
            ev.dataTransfer.effectAllowed='move';
            ev.dataTransfer.setData("Text", ev.target.getAttribute('id'));
            return true;
        },
        allowDropStatus(ev) {
            ev.preventDefault();
            return false;
        },
        dropComplete(ev) {
            ev.preventDefault();
            let src = ev.dataTransfer.getData("Text");
            if (document.getElementById(src).parentElement.id !== ev.target.id) {
                if (!ev.target.hasChildNodes()) {
                    if (!ev.target.classList.contains("noDrop")) {
                        ev.target.appendChild(document.getElementById(src));
                        ev.stopPropagation();

                        this.send(ev.target.id, true);

                        return false;
                    }
                }
            }
        },
        incrementTime(){
                this.time.secondsTotal++;
                if(this.time.duration < this.time.secondsTotal){
                    return true;
                } else{
                    this.time.minutes = Math.floor( (this.time.duration - this.time.secondsTotal) / 60);
                    this.time.seconds = (this.time.duration - this.time.secondsTotal) - (this.time.minutes * 60);
                    this.time.formatted = this.time.minutes.toString().padStart(2,"0") + ":" + this.time.seconds.toString().padStart(2,"0");
                    return false;
                }
        },
        startCounting(){
            let timeUp = this.incrementTime;
            let finishGame = this.finishGame;
            timeUp();
            if (window.Worker){
                let w = new Worker();
                w.addEventListener("message", function (event) {
                    if(timeUp()){
                        w.terminate();
                        finishGame();
                    }
                });
            }
        },
        newRecipe(recipeNum){

            if(this.board.recipe.recipe1 == null || recipeNum == '1'){
                this.board.recipe.recipe1 = this.recipes[Math.floor(Math.random() * (this.recipes.length))];
            }
            if(this.board.recipe.recipe2 == null || recipeNum == '2'){
                this.board.recipe.recipe2 = this.recipes[Math.floor(Math.random() * (this.recipes.length))];
            }
            if(this.board.recipe.recipe3 == null || recipeNum == '3'){
                this.board.recipe.recipe3 = this.recipes[Math.floor(Math.random() * (this.recipes.length))];
            }
        },
        chooseRecipe(){
            document.getElementById("recipeMenu").style.width = "0px";
            this.player1.plate = this.board.recipe.recipeMenu;
            this.player1.plate.ingredientsPicked = null;
            this.newRecipe(this.board.recipe.recipeMenu.number);
        },
        sameIngredients(){
                let a = [];
                let b = this.player1.plate.ingredientsPicked;

                for(let i in this.player1.plate.ingredients){
                    a.push(this.player1.plate.ingredients[i].name);
                }

                if (a.length !== b.length) return false;
                const uniqueValues = new Set([...a, ...b]);
                for (const v of uniqueValues) {
                    const aCount = a.filter(e => e === v).length;
                    const bCount = b.filter(e => e === v).length;
                    if (aCount !== bCount) return false;
                }
                return true;
        },
        chooseIngredients(){
            if(this.ingredientsSelected.length >= 1){
                this.player1.plate.ingredientsPicked = this.ingredientsSelected;
                this.ingredientsSelected = [];
                document.getElementById("ingredientsMenu").style.width = "0";
            }
        },
        incrementProgress(number){
            switch(number){
                case 1:
                    this.board.top.cut.time = this.board.top.cut.time + 1;
                    this.board.top.cut.progress = (this.board.top.cut.time / this.board.top.cut.duration) * 100
                    if(this.board.top.cut.progress===100){
                        this.board.top.cut.isComplete = true;
                        return true;
                    }
                    break;
                case 2:
                    this.board.top.cook.time = this.board.top.cook.time + 1;
                    this.board.top.cook.progress = (this.board.top.cook.time / this.board.top.cook.duration) * 100
                    if(this.board.top.cook.progress===100){
                        this.board.top.cook.isComplete = true;
                        return true;
                    }
                    break;
                case 3:
                    this.board.top.plate.time = this.board.top.plate.time + 1;
                    this.board.top.plate.progress = (this.board.top.plate.time / this.board.top.plate.duration) * 100
                    if(this.board.top.plate.progress===100){
                        this.board.top.plate.isComplete = true;
                        return true;
                    }
                    break;
                case 4:
                    this.board.bottom.cut.time = this.board.bottom.cut.time + 1;
                    this.board.bottom.cut.progress = (this.board.bottom.cut.time / this.board.bottom.cut.duration) * 100
                    if(this.board.bottom.cut.progress===100){
                        this.board.bottom.cut.isComplete = true;
                        return true;
                    }
                    break;
                case 5:
                    this.board.bottom.cook.time = this.board.bottom.cook.time + 1;
                    this.board.bottom.cook.progress = (this.board.bottom.cook.time / this.board.bottom.cook.duration) * 100
                    if(this.board.bottom.cook.progress===100){
                        this.board.bottom.cook.isComplete = true;
                        return true;
                    }
                    break;
                case 6:
                    this.board.bottom.plate.time = this.board.bottom.plate.time + 1;
                    this.board.bottom.plate.progress = (this.board.bottom.plate.time / this.board.bottom.plate.duration) * 100
                    if(this.board.bottom.plate.progress===100){
                        this.board.bottom.plate.isComplete = true;
                        return true;
                    }
                    break;
            }
        },
        startTask(position){
            let incrementProgress = this.incrementProgress;
            let taskNumber;
            console.log(position)
            switch(position){
                case '2-3':
                    this.board.top.cut.recipe = this.player1.plate;
                    this.board.top.cut.duration = this.getPlayerTask("cortar").time || 30;
                    taskNumber = 1;
                    break;
                case '2-4':
                    this.board.top.cook.recipe = this.player1.plate;
                    this.board.top.cook.duration = this.getPlayerTask("cozer").time || 30;
                    taskNumber = 2;
                    break;
                case '2-5':
                    this.board.top.plate.recipe = this.player1.plate;
                    this.board.top.plate.duration = this.getPlayerTask("empratar").time || 30;
                    taskNumber = 3;
                    break;
                case '4-3':
                    this.board.bottom.cut.recipe = this.player1.plate;
                    this.board.bottom.cut.duration = this.getPlayerTask("cortar").time || 30;
                    taskNumber = 4;
                    break;
                case '4-4':
                    this.board.bottom.cook.recipe = this.player1.plate;
                    this.board.bottom.cook.duration = this.getPlayerTask("cozer").time || 30;
                    taskNumber = 5;
                    break;
                case '4-5':
                    this.board.bottom.plate.recipe = this.player1.plate;
                    this.board.bottom.plate.duration = this.getPlayerTask("empratar").time || 30;
                    taskNumber = 6;
                    break;
            }
            if (window.Worker && taskNumber){
                            let workerInstance = new Worker();
                            workerInstance.addEventListener("message", function (event) {
                                if(incrementProgress(taskNumber)){this.terminate();}
                            });
            }
            this.player1.plate = null;
        },
        finishTask(position){
            switch(position){
                case '2-3':
                    this.player1.plate = this.board.top.cut.recipe;
                    this.player1.plate.isCut = true;
                    this.board.top.cut.time = 0;
                    this.board.top.cut.duration = 0;
                    this.board.top.cut.progress = 0;
                    break;
                case '2-4':
                    this.player1.plate = this.board.top.cook.recipe;
                    this.player1.plate.isCooked = true;
                    this.board.top.cook.time = 0;
                    this.board.top.cook.duration = 0;
                    this.board.top.cook.progress = 0;
                    break;
                case '2-5':
                    this.player1.plate = this.board.top.plate.recipe;
                    this.player1.plate.isPlated = true;
                    this.board.top.plate.time = 0;
                    this.board.top.plate.duration = 0;
                    this.board.top.plate.progress = 0;
                    break;
                case '4-3':
                    this.player1.plate = this.board.bottom.cut.recipe;
                    this.player1.plate.isCut = true;
                    this.board.bottom.cut.time = 0;
                    this.board.bottom.cut.duration = 0;
                    this.board.bottom.cut.progress = 0;
                    break;
                case '4-4':
                    this.player1.plate = this.board.bottom.cook.recipe;
                    this.player1.plate.isCooked = true;
                    this.board.bottom.cook.time = 0;
                    this.board.bottom.cook.duration = 0;
                    this.board.bottom.cook.progress = 0;
                    break;
                case '4-5':
                    this.player1.plate = this.board.bottom.plate.recipe;
                    this.player1.plate.isPlated = true;
                    this.board.bottom.plate.time = 0;
                    this.board.bottom.plate.duration = 0;
                    this.board.bottom.plate.progress = 0;
                    break;
            }
        },
        getProgress(position){
            let progress;
            switch(position){
                case '2-3':
                    progress = this.board.top.cut.progress || 0;
                    break;
                case '2-4':
                    progress = this.board.top.cook.progress;
                    break;
                case '2-5':
                    progress = this.board.top.plate.progress;
                    break;
                case '4-3':
                    progress = this.board.bottom.cut.progress;
                    break;
                case '4-4':
                    progress = this.board.bottom.cook.progress;
                    break;
                case '4-5':
                    progress = this.board.bottom.plate.progress;
                    break;
            }
            return progress || 0;
        },
        taskAction(position){
            if(this.player1.plate != null){
                if(this.player1.plate.ingredientsPicked != null && this.getProgress(position) <= 0 ){
                    this.startTask(position);
                }
            } else if(this.getProgress(position) === 100){
                this.finishTask (position);
            }
        },
        getPlayerTask(string){
            let tasks = [];
            for(let i in this.player1.plate.tasks){
                if(this.player1.plate.tasks[i].name.toLowerCase() === string.toLowerCase()){
                    return this.player1.plate.tasks[i];
                }
            }
            return false;
        },
        action(ev){
            document.getElementById("recipeMenu").style.width = "0";
            document.getElementById("ingredientsMenu").style.width = "0";
            document.getElementById("sellingMenu").style.width = "0";

            if(ev.target.id.slice(0,1).match("2|3|4") && ev.target.id.slice(2,3).match("6")){
                let recipeNum, recipe;
                switch(ev.target.id) {
                    case '2-6':
                        recipe = this.board.recipe.recipe1;
                        recipeNum = 1;
                        break;
                    case '3-6':
                        recipe = this.board.recipe.recipe2;
                        recipeNum = 2;
                        break;
                    case '4-6':
                        recipe = this.board.recipe.recipe3;
                        recipeNum = 3;
                        break;
                }
                this.board.recipe.recipeMenu = recipe;
                this.board.recipe.recipeMenu.number = recipeNum;
                document.getElementById("recipeMenu").style.width = "20%";

            } else if(ev.target.id.slice(0,1).match("2|4") && ev.target.id.slice(2,3).match("2")){
                if(this.player1.plate){
                document.getElementById("ingredientsMenu").style.width = "20%";
                }

            } else if( ev.target.id.slice(0,1).match("2|4") && ev.target.id.slice(2,3).match("3|4|5")){
                this.taskAction(ev.target.id);

            } else if( ev.target.id === '3-2'){
                if(this.player1.plate){
                    this.board.sellMenu = this.player1.plate;
                    document.getElementById("sellingMenu").style.width = "20%   ";
                }

            }
        },
        sellPlate(){
            let pay = this.calculatePayment(this.player1.plate)
            if (("true" === sessionStorage.getItem("isP1"))){
                this.game.cookieCoinsP1 += pay;
            } else {
                this.game.cookieCoinsP2 += pay;
            }
            this.send(pay, false)
            this.player1.recipes.push(this.player1.plate);
            this.player1.plate = null;
            document.getElementById("sellingMenu").style.width = "0";
        },
        calculatePayment(plate){
            let payment = plate.payment;
            if(!this.sameIngredients()
                || (this.getPlayerTask("cortar") && !this.player1.plate.isCut)
                || (this.getPlayerTask("cozer") && !this.player1.plate.isCooked)
                || (this.getPlayerTask("empratar") && !this.player1.plate.isPlated)){
                payment = 0;
            }
            if(1===0){
                //BOOOSTER TO IMPLEMENT
            }
            return payment;
        },
        finishGame(){
            console.log("FINISH")
            this.game.recipesDoneP1 = ("true" === sessionStorage.getItem("isP1")) ?  this.player1.recipes : [];
            this.game.recipesDoneP2 = ("true" === sessionStorage.getItem("isP1")) ?  [] : this.player1.recipes;
            this.game.result = this.result();
            this.game.isP1 = ("true" === sessionStorage.getItem("isP1"));
            if ("true" === sessionStorage.getItem("isP1")) {
                this.game.nRecipesP1 = this.game.recipesDoneP1.length
            } else {
                this.game.nRecipesP2 = this.game.recipesDoneP2.length
            }
            this.$router.push({name: 'EndGameMultiplayer', params:{ game:this.game}});
        },
        //COMMUNICATION WITH BACKEND AND START
        success(res){
            this.board.ingredients  = res.data.ingredients;
            this.recipes            = res.data.recipes;
            this.time.duration      = res.data.time;
            this.game               = res.data;

            this.game.isP1 = ("true" === sessionStorage.getItem("isP1"))
            this.game.cookieCoinsP1 = 0
            this.game.cookieCoinsP2 = 0
            this.game.nRecipesP1 = 0
            this.game.nRecipesP2 = 0
        },
        error(err){
            this.$router.push('/error?error='+ err.response.status);
        },
        stopLoading(){
            document.getElementById("loading").style.visibility = "hidden";
        },
        async start(){
                  
            let res;
            let playerId    = sessionStorage.getItem("playerID");
            let mode        = this.$route.query.mode || '1';
            let difficulty  = this.$route.query.difficulty || 'EASY';
            let gameId      = sessionStorage.getItem("gameId");

            const delay = ms => new Promise(resolve => setTimeout(resolve, ms))
            
            /*MULTIPLAYER*/

            let tries = 5;

            for (let i = 1; i <= tries; i++) {
                if (mode === '0') {
                    axios
                    .get('http://' + config.host + ':8888/apis/startGame?playerId='+ playerId +'&mode='+ mode +'&difficulty='+ difficulty)
                    .then(response => {
                    res = response;
                    })
                    .catch(error => {
                        if(i===tries){
                            this.error(error);
                        }
                    });
                }
                else {
                    axios
                    .get('http://' + config.host + ':8888/apis/game?id='+ gameId)
                    .then(response => {
                        res = response;
                    })
                    .catch(error => {
                        if(i===tries){
                            this.error(error);
                        }
                    });
                }

                await delay(1000);

                if(res){
                    this.success(res);
                    this.setUpDragNDrop();
                    this.stopLoading();
                    this.newRecipe();
                    this.startCounting();
                    this.newRecipe();
                    await this.connectWS()
                    break;
                }
            }
            
        },
        async connectWS (){
            ws = new WebSocket('ws://' + config.host + ':8088');

            let connected;

            ws.onopen = function (ev) {
                let json = {
                    gameId: sessionStorage.getItem("gameId"),
                    isP1: ("true" === sessionStorage.getItem("isP1")),
                    isMove: false,
                    isCoins: false
                }
                ws.send(JSON.stringify(json));
                connected = true
            }

            let moveOtherPlayer = this.moveOtherPlayer
            let coinsOtherPlayer= this.coinsOtherPlayer

            ws.onmessage = function (ev) {
                console.log(ev.data);
                let jsonEv = JSON.parse(ev.data);
                if (jsonEv.isMove)
                    moveOtherPlayer(jsonEv.move)
                else
                    coinsOtherPlayer(jsonEv.move)
            }

            let connectWS = this.connectWS;

            ws.onclose = function (ev) {
                connected = false;
                try {
                    connectWS();
                } catch (e) {
                    throw 'Error on close WS'
                }
            }
        },
        coinsOtherPlayer(coins){
            if (("true" === sessionStorage.getItem("isP1"))){
                this.game.cookieCoinsP2 += parseInt(coins);
                this.game.nRecipesP2 += 1
            } else {
                this.game.cookieCoinsP1 += parseInt(coins);
                this.game.nRecipesP1 += 1
            }
        },
        moveOtherPlayer(move){
            let p = document.getElementById(this.otherPlayerPosition).children[0];
            document.getElementById(this.otherPlayerPosition).innerText = '';
            let a;
            if (move.slice(0,1) === '2') {
                a = 4;
            } else if (move.slice(0,1) === '4') {
                a = 2;
            } else {
                a = 3;
            }
            let mirror = a + '-' + move.slice(2,3)
            document.getElementById(mirror).appendChild(p);
            this.otherPlayerPosition = mirror
        },
        result() {
            if (this.game.cookieCoinsP1 > this.game.cookieCoinsP2) return 1;
            else if (this.game.cookieCoinsP1 < this.game.cookieCoinsP2) return 2;
            else return 0;
        },
        async send(msg, isMove) {
            let count = 0;
            let json = {
                gameId: sessionStorage.getItem("gameId"),
                isP1: ("true" === sessionStorage.getItem("isP1")),
                isMove: isMove,
                isCoins: !isMove,
                move: msg
            };
            while (true){
                if (count === 50) {
                    throw 'Error ws not connected'
                }
                try {
                    ws.send(JSON.stringify(json));
                    break;
                } catch (e) {
                    count += 1;
                    console.log(count);
                    await this.delay(500)
                }
            }
        }
    },
    computed: {
        rotation() {
            return `transform: rotate(${ this.time.secondsTotal * 360 / 60}deg)`
        }
    },
    mounted(){
        this.start();
    }
}
</script>

<style scoped>
  @import '/css/gamescreen.css';
</style>