<template>
   <div v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative', 'display-flex']">
      <div class="container-left-statistics">
         <div id="title" class="display-flex"> 
            <img alt="Estatísticas" src="/images/statistics.png" class="img-statistics-title"/>
           <div>
              <img alt="Homem Bolacha" src="/images/cookie.png" class="img-cookie-man-statistics"/>
            </div>
            <div>
              <router-link aria-label="Voltar ao Menu Principal" to="/home"><img src="/images/rewind-button.png" alt="Botão de rewind" class="rewind-button-statistics"></router-link>
            </div>
          </div>
          <div>
            <router-link aria-labelledby="Estatísticas de Jogos" to="/gamesStatistics"><button class="default-button-statistics-jogos-active">Jogos</button></router-link>
            <router-link aria-labelledby="Estatísticas de Jogador" to="/statisticsStatistics"><button class="default-button-statistics-estatisticas">Estatísticas</button></router-link>
            <router-link aria-labelledby="Rankings" to="/rankingStatistics"><button class="default-button-statistics-classificacao">Classificação</button></router-link>
          </div>
         <div class="card-group-statistics">
           <li class="list-cards" v-for="game in this.jogos" :key="game.id">
                <div class="card-statistics display-flex">
              <div class="width-80">
                  <div>
                    <label aria-labelledby="Data de Jogo" class="default-label margin-left-10">{{game.date}}</label>
                    <label aria-labelledby="Modo de Jogo" class="default-label margin-left-151">{{game.gameMode == 0 ? "SinglePlayer - " + game.gameDifficulty : "Multiplayer"}}</label>
                  </div>
                  <div class="display-flex info-section-group">
                    <div class="display-flex info-section">
                      <div class="info-section-title">
                        Tempo
                      </div>
                      <div class="info-section-result">
                        {{game.time}}
                      </div>
                    </div>
                    <div class="display-flex info-section">
                      <div class="info-section-title">
                        Pratos Feitos
                      </div>
                      <div class="info-section-result">
                        {{game.nRecipesDone}}
                      </div>
                    </div>
                  </div>
                  <div class="display-flex info-section-group">
                    <div class="display-flex info-section">
                      <div class="info-section-title">
                        Moedas
                      </div>
                      <div class="info-section-result">
                        {{game.cookieCoins}}
                      </div>
                    </div>
                    <div class="display-flex info-section" v-if="game.gameMode === 1" >
                      <div class="info-section-title">
                        Resultado
                      </div>
                      <div class="info-section-result">
                        {{ game.gameResult }}
                      </div>
                    </div>
                  </div>
              </div>
              <div class="width-20 margin-left-10">
                <label aria-labelledby="Melhor Prato" class="default-label">Melhor Prato</label>
                <div class="secondary-label margin-top-10">{{game.bestRecipe}}</div>
              </div>
            </div>
            </li>
          </div>
   </div>
   </div>            
</template>

<script>
import axios from 'axios'
import config from '../../../environments.js'

/**
 * @vue-data {Array} jogos - Games Array
 * @vue-event {Promise<void>} comms - Communication and consumption of Game History API
 * @module vue/GamesStatistics
 */

export default {
  data() {
    return {
      jogos: []
    }
  },
  methods:{
    /**
     * @async
     * @returns {Promise<void>}
     */
    async comms(){

      let res;
      const delay = ms => new Promise(resolve => setTimeout(resolve, ms))

      let playerID = sessionStorage.getItem('playerID');

      for (let i = 0; i < 5; i++) {
        axios
        .get('http://' + config.host + ':8888/apis/gameHistory?playerId=' + playerID )
        .then(response => ( res = response));

        await delay(1000);
    
        if(res){
          if(res.status===200){
            console.log(res);
            //passa para o ecrã seguinte
              this.jogos = res.data;
            break;
          }
        }

      }
    }
  },
  mounted(){
    this.comms();    
  }
}
</script>

<style scoped >
  @import '/public/css/style.css';
</style>