<template>
  <div v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative', 'display-flex']">
    <div class="container-left">
      <img id="logo" alt="Logo Crazy Cook" src="/images/title.png" class="img-crazy-cook-title crazy-cool-img" />

      <div class="menu-line margin-top-25">
        <router-link aria-label="Voltar ao Menu Principal" class="button button-play" to="/gameStart">JOGAR</router-link>
      </div>

      <div class="menu-line margin-top-25 button-group">
        <router-link aria-labelledby="Perfil" class="button button-left" to="/profile">PERFIL</router-link>
        <router-link aria-labelledby="Estatísticas" class="button button-secondary" to="/gamesStatistics">ESTATÍSTICAS</router-link>
      </div>
          
      <div class="menu-line margin-top-25 button-group">
        <router-link aria-labelledby="Definições" id="definitions" class="button button-left" to="/settings">
          <img alt="Settings Icon" src="/images/definitionsicon.png"/></router-link>
        <router-link aria-labelledby="Regras" class="button button-secondary" to="/rules">REGRAS</router-link>
      </div>
    </div>
    <div class="container-right-gameStart">
      <div class="margin-top-70 img-group">
        <div class="img-book-group">
          <div class="display-inline-block">
              <img alt="Orange Recipe Book" src="/images/recipebook.png" class="img-orange-book"/>
          </div>
          <div class="display-inline-block">
            <img alt="Green Recipe Book" src="/images/recipegreen.png" class="img-green-book"/>
          </div>
          <div class="display-inline-block">
            <img alt="Yellow Recipe Book" src="/images/recipeyellow.png" class="img-yellow-book"/>
          </div>
        </div>
        <div>
          <img alt="Cookie Man Image" src="/images/cookie.png" class="img-cookie-man"/>
        </div>
      </div>
    </div>
  </div>
</template>
  
<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "/css/style.css";
</style>
