<template>
    <div id="loading">
        <div class="black-screen"/>
        <div class="game-waiter card-waiting">
            <p class="h2-waiting">A carregar...</p>
            <div class="loader"></div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import config from '../../../environments.js'

/**
 * @vue-data {Object} connection - Connection Object
 * @vue-event {void} res - Receives information about the player from the core app
 * @vue-event {Promise<void>} comms - Communication and consumption of Open Game API
 * @vue-event {void} mounted - Calls comms function
 * @module vue/Loading
 */

export default {
  data() {
    return {
      connection: null
    }
  },
  methods:{
    /**
     * @description Session Storage of variables received from core application
     * @param res
     */
    success(res){
          sessionStorage.setItem("playerID",      res.data.player.id);
          sessionStorage.setItem("playerName",    res.data.player.name);
          sessionStorage.setItem("playerAvatar",  res.data.player.avatar);
          sessionStorage.setItem("playerEmail",   res.data.player.email);
          this.$theme = res.data.config.theme;
        

          this.$router.push('/home');
    },
    /**
     * @description Error Response 
     * @param err
     */
    error(err){
          this.$router.push('/error?error='+ err.response.status);
    },

    /**
     *@async
     * @returns {Promise<void>}
     */

    async comms(){

      let sessionId = this.$route.query.sessionId;

      sessionStorage.setItem("SessionID", sessionId);

      let res;

      const delay = ms => new Promise(resolve => setTimeout(resolve, ms))

      let tries = 5;
      for (let i = 1; i <= tries; i++) {
        await axios
        .get('http://' + config.host + ':8888/apis/openGame?sessionId=' + sessionId)
        .then(response => {
          res = response;
          this.success(response);
        })
        .catch(error => {
          if(i==tries){
            this.error(error);
          }
        });
        
        await delay(2000);

        if(res){
          break;
        }
      }
    }
  },
  mounted(){
    this.comms();    
  }
}
</script>

<style scoped>
    @import '/css/gamescreen.css';
</style>