<template>
    <div v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative']">
      <router-link aria-label="Voltar ao Menu Principal" to="/home"><img src="/images/rewind-button.png" alt="Botão de rewind" class="rewind-button-profile"></router-link>
      <div class="container-left">
      <img id="logo" alt="Perfil" src="/images/profile-title.png" class="img-profile-title" >
      </div>
      <div class="margin-top-70">
        <div>
        <div class="img-profile">
          <img alt="Avatar Jogador Default" src="/images/cookie.png" class="img-cookie-man-profile" v-if="playerAvatar ? false : true">
          <img v-else alt="Avatar Jogador" :src= "`${this.playerAvatar}`" class="img-cookie-man-profile">
        </div>
        <div>
        <div class="display-flex info-section-profile">
                      <div class="info-section-title-profile ">
                        Nome
                      </div>
                      <div class="info-section-result-profile">
                       {{this.playerName}}
                      </div>
                    </div>
                    <div class="display-flex info-section-profile">
                      <div class="info-section-title-profile">
                        Email
                      </div>
                      <div class="info-section-result-profile">
                        {{this.playerEmail}}    
        </div>  
       </div>
    </div>
    </div>
      </div>
    </div>
    
</template>

<script>

/**
 * @vue-data {Any} theme - player config theme variable
 * @vue-data {String} playerID - playerID variable
 * @vue-data {String} playerName - playerName variable
 * @vue-data {Any} playerAvatar - playerAvatar variable
 * @vue-data {Any} playerEmail - playerEmail variable
 * @vue-mounted {void} mounted - Communication and consumption of Open Game API
 * @module vue/Profile
 */

export default {
  data() {
    return {
      theme: null,
      playerID : null,
      playerName: null,
      playerAvatar: null,
      playerEmail: null
      
    }
  },

mounted() {

      this.theme = sessionStorage.getItem("configTheme");
      this.playerID = sessionStorage.getItem("playerID");
      this.playerName = sessionStorage.getItem("playerName");
      this.playerAvatar = sessionStorage.getItem("playerAvatar");
      this.playerEmail = sessionStorage.getItem("playerEmail");
}

}

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import '/public/css/style.css';
</style>
