<template>
   <div v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative', 'display-flex']">
      <div class="container-left-statistics">
         <div id="title" class="display-flex"> 
            <img alt="Estatisticas" src="/images/statistics.png" class="img-statistics-title"/>
           <div>
          <img alt="Homem Bolacha" src="/images/cookie.png" class="img-cookie-man-statistics"/>
            </div>
      <div>
       <router-link aria-label="Voltar ao Menu Principal" to="/home"><img alt="Voltar ao Menu" src="/images/rewind-button.png" class="rewind-button-statistics"></router-link>
      </div>
         </div>
        <div>
          <router-link aria-labelledby="Estatísticas de Jogos" to="/gamesStatistics"><button class="default-button-statistics-jogos">Jogos</button></router-link>
          <router-link aria-labelledby="Estatísticas de Jogador" to="/statisticsStatistics"><button class="default-button-statistics-estatisticas">Estatísticas</button></router-link>
          <router-link aria-labelledby="Rankings" to="/rankingStatistics"><button class="default-button-statistics-classificacao-active">Classificação</button></router-link>
          </div>
      </div>  
      <div class="card-group-statistics-statistics">
         <div class="card-statistics-statistics display-flex">
            <table aria-label="Rankings Crazy Cook" class="default-table">
              <tr class="default-label-statistics-statistics">
               <th class="width-100px">Rank</th>
               <th class="width-100px">Nome</th>
               <th class="width-100px">Moedas</th>    
               </tr>
                <tr class="default-label-statistics-statistics-td" v-for="ranks in this.ranks" :key="ranks.id">
               <td class="default-table td">{{ranks.position}}</td>
               <td class="default-table td">{{ranks.playerName}}</td>
               <td class="default-table td">{{ranks.totalCoins}}</td>   
               </tr>
            </table>
         </div>
      </div>
   </div>
</template>

<script>
import axios from 'axios'
import config from '../../../environments.js'

/**
 * @vue-data {Array} ranks - Ranks array
 * @vue-event {Promise<void>} comms - Communication and consumption of ranks API
 * @module vue/RankingStatistics
 */

export default {
  data() {
    return {
      ranks: []
    }
  },
  methods:{
    /**
     * @async
     * @returns {Promise<void>}
     */
    async comms(){

      let res;
      const delay = ms => new Promise(resolve => setTimeout(resolve, ms))

      let playerID = sessionStorage.getItem('playerID');

      for (let i = 0; i < 5; i++) {
        axios
        .get('http://' + config.host + ':8888/apis/ranks?playerId=' + playerID )
        .then(response => ( res = response));

        await delay(1000);

        if(res){
          if(res.status===200){
            console.log(res);
            //passa para o ecrã seguinte
            this.ranks = res.data;
            
            break;
          }
        }
      }
    }
  },
  mounted(){
    this.comms();    
  }
}
</script>
