<template>
    <div
        v-bind:class="[
        this.$theme === 0
        ? 'main'
        : this.$theme === 1
        ? 'main-dark'
        : this.$theme === 2
        ? 'main-white'
        : this.$theme === 3
        ? 'main-soft'
        : 'main-alternative',
        'display-flex',
        ]"
    >
        <div class="container-left-rules">
            <div id="title" class="display-flex">
                <img
                    id="logo"
                    alt="Regras"
                    src="/images/rules-2.png"
                    class="img-rules-title"
                />
                <div>
                    <router-link aria-label="Voltar ao Menu Principal" to="/home"
                    ><img alt="Voltar ao Menu" src="/images/rewind-button.png" class="rewind-button-rules"
                    /></router-link>
                </div>
            </div>
            <div id="card" class="card-group-rules">
                <div id="cards-overflow" class="">
                    <div class="card margin-bot-15 display-flex">
                        <div class="margin-left-15">
                            <ul class="list-rules">
                                <li class="padding-top-25">
                                    <span>Arrasta o boneco para o livro de receitas.</span>
                                </li>
                                <br/>
                                <li class="padding-top-25">
                                    <span>Depois de leres a receita, clica em Cozinhar!</span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <img alt="Regras número 1" src="/images/rule_1.gif" class="img-rules"/>
                        </div>
                    </div>
                    <div class="card margin-bot-15 display-flex">
                        <div class="margin-left-15">
                            <ul class="list-rules">
                                <li class="padding-top-25">
                                    <span>Arrasta o boneco até à lista de ingredientes!</span>
                                </li>
                                <br/>
                                <li class="padding-top-25">
                                    <span>Escolhe os ingredientes corretos consoante a receita ativa.</span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <img alt="Regras número 2" src="/images/rule_2.gif" class="img-rules"/>
                        </div>
                    </div>
                    <div class="card margin-bot-15 display-flex">
                        <div class="margin-left-15">
                            <ul class="list-rules">
                                <li class="padding-top-25">
                                    <span>Arrasta o boneco para os balcões com ações.</span>
                                </li>
                                <br/>
                                <li class="padding-top-25">
                                    <span
                                    >Quando a barra ficar verde podes retirar o teu prato!</span
                                    >
                                </li>
                            </ul>
                        </div>
                        <div>
                            <img alt="Regras número 3" src="/images/rule_3.gif" class="img-rules"/>
                        </div>
                    </div>
                    <div class="card margin-bot-15 display-flex">
                        <div class="margin-left-15">
                            <ul class="list-rules">
                                <li class="padding-top-25">
                                    <span>É importante seguires a receita à risca!</span>
                                </li>
                                <br/>
                                <li class="padding-top-25">
                                    <span
                                    >Revê a receita sempre que queiras na bancada de
                                    venda.</span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <img alt="Regras número 4" src="/images/rule_4.gif" class="img-rules"/>
                        </div>
                    </div>
                    <div class="card margin-bot-15 display-flex">
                        <div class="margin-left-15">
                            <ul class="list-rules">
                                <li class="padding-top-25">
                                    <span>Se completares todas as ações, arrasta o boneco para a bancada de venda.</span>
                                </li>
                                <br>
                                <li class="padding-top-25">
                                    <span>Verifica se está tudo feito e clica em Vender!</span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <img alt="Regras número 5" src="/images/rule_5.gif" class="img-rules"/>
                        </div>
                    </div>
                    <div class="card margin-bot-15 display-flex">
                        <div class="margin-left-15">
                            <ul class="list-rules">
                                <li class="padding-top-25">
                                    <span>
                                    O número de moedas ditam o quão bom
                                    cozinheiro és.
                                    </span>
                                </li>
                                <br>
                                <li class="padding-top-25">
                                    <span>
                                    Dá o teu melhor para chegares ao Top 5!
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <img alt="Regras número 6" src="/images/rule_6.gif" class="img-rules-rank"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right-rules">
            <div class="margin-top-70 img-group">
                <div class="img-book-group">
                    <div class="display-inline-block">
                        <img
                            alt="Livro de Receitas Laranja"
                            src="/images/recipebook.png"
                            class="img-orange-book"
                        />
                    </div>
                    <div class="display-inline-block">
                        <img
                            alt="Livro de Receitas Verde"
                            src="/images/recipegreen.png"
                            class="img-green-book"
                        />
                    </div>
                    <div class="display-inline-block">
                        <img alt="Livro de Receitas Amarelo" src="/images/recipeyellow.png" class="img-yellow-book"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
@import "/public/css/style.css";
</style>







