<template>
  <div v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative']">
    <router-link aria-label="Voltar ao Menu Principal" to="/home"><img src="/images/rewind-button.png" alt="Rewind Button" class="rewind-button-profile"></router-link>
    <div class="container-left">
      <img id="logo" alt="Definições" src="/images/settings.png" class="img-settings-title" />
    </div>
    <div>
       <div>
      <div class="card-settings">
      <h2 class="h2-settings">Escolhe o teu fundo:</h2>
      <div class="input-settings-1st">
      <input type="radio" id="traditional" name="traditional" v-on:click="changeTheme(0)">
      <label for="traditional">Tradicional</label><br>
      </div>
      <div class="input-settings">
      <input type="radio" id="dark" name="dark" v-on:click="changeTheme(1)">
      <label for="dark">Escuro</label><br>
      </div>
      <div class="input-settings">
      <input type="radio" id="white" name="white" v-on:click="changeTheme(2)">
      <label for="white">Branco</label><br>
      </div>
      <div class="input-settings">
      <input type="radio" id="soft" name="soft" v-on:click="changeTheme(3)">
      <label for="soft">Suave</label><br>
      </div>
      <div class="input-settings">
      <input type="radio" id="alternative" name="alternative" v-on:click="changeTheme(4)">
      <label for="alternative">Alternativo</label>
      </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import axios from 'axios'
import config from '../../../environments.js'

/**
 * @vue-data {number} oldTheme - Original Theme
 * @vue-event {void} changeTheme - Changes the value of the theme. 
 * @vue-event {void} checked - Checks for the current theme. 
 * @vue-event {void} mounted - Calls checked on load.
 * @vue-event {void} destroyed - Calls the API to update the theme if changed
 * @module vue/Settings
 */
export default {
  data() {
    return {
      oldTheme: null
    }
  },
  methods: {
    changeTheme(value) {
      this.$theme = value;
      this.checked()
    },
    checked() {
      document.getElementById("traditional").checked = (this.$theme === 0);
      document.getElementById("dark").checked = (this.$theme === 1);
      document.getElementById("white").checked = (this.$theme === 2);
      document.getElementById("soft").checked = (this.$theme === 3);
      document.getElementById("alternative").checked = (this.$theme === 4);
    }
  },
  mounted() {
    this.oldTheme = this.$theme
    this.checked()
  },
  destroyed() {
    if (this.oldTheme !== this.$theme)
      axios.post('http://' + config.host + ':8888/apis/config', { playerid: sessionStorage.getItem("playerID"), theme: this.$theme})
  }
}
</script>
