<template>
  <div v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative', 'display-flex']">
    
    <div class="container-left-gameStart">

      <router-link aria-label="Voltar à página principal" to="/home"><img alt="Voltar ao Menu" src="/images/rewind-button.png" class="rewind-button-gameStart"/></router-link>
       <img alt="Cookie Man Image" src="/images/title.png" class="img-crazy-cook-title-gamestart" />
      <img alt="Cookie Man Image" src="/images/cookie.png" class="img-cookie-man-statistics img-singleplayer"/>

      <div class="margin-top-25">
        <router-link aria-labelledby="Modo Singleplayer" class="button button-gamestart" to="/singlePlayer">SINGLE PLAYER</router-link>
      </div>

      <div class="margin-top-25">
        <router-link aria-labelledby="Modo MultiPlayer" enabled="false" class="button button-gamestart" to="/waitingRoom?mode=1&difficulty=MEDIUM">MULTIPLAYER</router-link>
      </div>

    </div>

    <div class="container-middle-singleplayer">
       <img id="logo" alt="SinglePlayer Difficulty Pointer" src="/images/pointer.png" class="img-pointer"/>
    </div>

    <div class="container-right-singleplayer">
      <div>

        <div>
      <div class="margin-singleplayer-top">
        <router-link aria-labelledby="Dificuldade Fácil" class="button button-singleplayer button-easy" to="/game?mode=0&difficulty=EASY">FÁCIL</router-link>
      </div>

      <div class="margin-singleplayer-top">
        <router-link aria-labelledby="Dificuldade Média" class="button button-singleplayer button-medium" to="/game?mode=0&difficulty=MEDIUM">MÉDIO</router-link>
      </div>

       <div class="margin-singleplayer-top">
        <router-link aria-labelledby="Dificuldade Difícil" class="button button-singleplayer button-hard" to="/game?mode=0&difficulty=HARD">DIFÍCIL</router-link>
      </div>
     </div>
   </div>
 </div>
</div>
</template>
  
<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "/css/style.css";
</style>
