<template>
   <div v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative', 'display-flex']">
      <div class="container-left-statistics">
         <div id="title" class="display-flex"> 
            <img alt="Estatisticas" src="/images/statistics.png" class="img-statistics-title"/>
           <div>
          <img alt="Cookie Man Image" src="/images/cookie.png" class="img-cookie-man-statistics"/>
            </div>
      <div>
       <router-link aria-label="Voltar ao Menu Principal" to="/home"><img alt="Voltar ao Menu" src="/images/rewind-button.png" class="rewind-button-statistics"></router-link>
      </div>
         </div>
        <div>
          <router-link aria-labelledby="Estatísticas de Jogos" to="/gamesStatistics"><button class="default-button-statistics-jogos">Jogos</button></router-link>
          <router-link aria-labelledby="Estatísticas de Jogador" to="/statisticsStatistics"><button class="default-button-statistics-estatisticas-active">Estatísticas</button></router-link>
          <router-link aria-labelledby="Rankings" to="/rankingStatistics"><button class="default-button-statistics-classificacao">Classificação</button></router-link>
          </div>
      </div> 
        <div class="card-group-ranking">
            <div class="card-ranking display-flex">
            <div class="width-100">
                  <div>
                    <label class="default-label-ranking-statistics margin-left-10">#{{this.player.position}} {{this.player.playerName}}</label>
                  </div>
            <div class="display-flex info-section-group-statistics">
                    <div class="display-flex info-section-statistics">
                      <div class="info-section-title">
                        Total de Moedas
                      </div>
                      <div class="info-section-result">
                       {{this.player.totalCoins}}
                      </div>
                    </div>
                    <div class="display-flex info-section-statistics">
                      <div class="info-section-title">
                        Nº Jogos 
                      </div>
                      <div class="info-section-result">
                        {{this.player.nGames}}
                      </div>
                    </div>
                  </div>
                  <div class="display-flex info-section-group-statistics">
                    <div class="display-flex info-section-statistics">
                      <div class="info-section-title">
                        Nº Jogos Multi
                      </div>
                      <div class="info-section-result">
                        {{this.player.nGamesMulti}}
                      </div>
                    </div>
                    <div class="display-flex info-section-statistics">
                      <div class="info-section-title">
                        Nº Jogos Single
                      </div>
                      <div class="info-section-result">
                        {{this.player.nGamesSingle}}
                      </div>
                    </div>
                  </div>
                  <div class="display-flex info-section-group-statistics">
                    <div class="display-flex info-section-statistics">
                      <div class="info-section-title">
                        Nº Vitórias Multi
                      </div>
                      <div class="info-section-result">
                        {{this.player.nMultiWin}}
                      </div>
                    </div>
                    <div class="display-flex info-section-statistics">
                      <div class="info-section-title">
                        Nº Derrotas Multi
                      </div>
                      <div class="info-section-result">
                        {{this.player.nMultiLoss}}
                      </div>
                    </div>
                  </div>
                  <div class="display-flex info-section-group-statistics">
                    <div class="display-flex info-section-statistics">
                      <div class="info-section-title">
                        Nº Empates
                      </div>
                      <div class="info-section-result">
                        {{this.player.nMultiDraw}}
                      </div>
                    </div>
                    <div class="display-flex info-section-statistics">
                      <div class="info-section-title">
                        Nº Receitas totais
                      </div>
                      <div class="info-section-result">
                        {{this.player.totalRecipes}}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>  
       </div>  
</template>


<script>
import axios from 'axios'
import config from '../../../environments.js'

/**
 * @vue-data {Object} player - Player Object
 * @vue-event {Promise<void>} comms - Communication and consumption of ranks API
 * @module vue/StatisticsStatistics
 */
export default {
  data() {
    return {
      player: {}
    }
  },
    methods:{
      /**
       * @async
       * @returns {Promise<void>}
       */
    async comms(){

      let res;
      const delay = ms => new Promise(resolve => setTimeout(resolve, ms))

      let playerID = sessionStorage.getItem('playerID');

      for (let i = 0; i < 5; i++) {
        axios
        .get('http://' + config.host + ':8888/apis/ranks?playerId=' + playerID )
        .then(response => ( res = response));
        await delay(1000);

        if(res){
          if(res.status===200){
            //passa para o ecrã seguinte
            this.player = res.data.find(item => {
              return item.id === playerID
            });
            break;
          }
        }

      }
    }
  },
  mounted(){
    this.comms();    
  }
}
</script>

