<template>
    <div
        v-bind:class="[this.$theme === 0 ? 'main' : this.$theme === 1 ? 'main-dark' : this.$theme === 2 ? 'main-white' : this.$theme === 3 ? 'main-soft' : 'main-alternative']">
        <router-link aria-label="Voltar ao Menu Principal" to="/home"><img src="/images/rewind-button.png"
                                                                           alt="Rewind Button"
                                                                           class="rewind-button-profile" v-on:click="this.cancelGame"></router-link>
        <div class="container-left">
            <img id="logo" alt="Settings" src="/images/aguarda.png" class="img-waiting-title"/>
        </div>
        <div class="card-waiting">
            <p class="h2-waiting">À espera do segundo jogador...</p>
            <div class="loader"></div>
            <p class="h2-waiting">Se te cansares de esperar podes sair deste ecrã.</p>
        </div>
        <img alt="Homem Bolacha" src="/images/cookie.png" class="img-cookie-man-waiting"/>
    </div>
</template>

<script>
import axios from 'axios'
import config from '../../../environments.js'

/**
 * @vue-event {Promise<void>} MultiplayerGame - Receives information from the Start Game and Game Ready API.
 * @vue-event {void} mounted - Calls the multiplayerGame function
 * @module vue/WaitingRoom
 */

export default {
    data() {
        return {
            x: true
        }
    },
    methods: {
        /**
   * @async
   * @returns {Promise<void>}
   */
        async multiplayerGame() {

            let playerId = sessionStorage.getItem("playerID");
            let mode = this.$route.query.mode || '1';
            let difficulty = this.$route.query.difficulty || 'MEDIUM';

            const delay = ms => new Promise(resolve => setTimeout(resolve, ms))

            let res = await axios.get('http://' + config.host + ':8888/apis/startGame?playerId=' + playerId + '&mode=' + mode + '&difficulty=' + difficulty)

            console.log(res.status)

            sessionStorage.setItem("gameId", res.data.id);

            while (this.x) {
                try {
                    let res2 = await axios.post('http://' + config.host + ':8888/apis/gameReady?id=' + res.data.id)

                    console.log(res2.status)

                    if (res2.status === 201) {
                        console.log('ok')
                        this.x = false;
                        let isP1 = (res.data.playerId1 === playerId)
                        sessionStorage.setItem("gameId", res.data.id);
                        sessionStorage.setItem("isP1", isP1.toString())
                        await this.$router.push({name: "GameMultiplayer"})
                    } else {
                        await delay(1000);
                    }
                } catch (e) {
                    console.log(e)
                    await delay(1000);
                }
            }
        },
        error(err) {
            this.$router.push('/error?error=' + err.response.status);
        },
        async cancelGame() {
            axios.get('http://' + config.host + ':8888/apis/cancelGame?id=' + sessionStorage.getItem("gameId"))
        }
    },
    mounted() {
        this.multiplayerGame()
    },
    destroyed() {
        this.x = false;
    }
}
</script>