.main {
    background: url("/images/background.png");
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
    width: 750px;
}

.main-dark {
    background: url('/images/background_dark.png');
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
    width: 750px;
}

.main-white {
    background: url('/images/background_white.png');
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
    width: 750px;
}

.main-soft {
    background: url('/images/background_soft.png');
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
    width: 750px;
}

.main-alternative {
    background: url('/images/background_alternative.png');
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
    width: 750px;
}

body {
    margin:0;
}

