body {
    background-color: #FEE6A7 !important;
}

.action img {
    display: block;
    height: 5vh;
    margin: auto auto;
}

.action>img {
    background-color: #859aa6;
    padding: 2px;
    border-radius: 90%;
    border: 2px solid #bacdd5;
}


/* .action{
    background-color: #859aa6;
    border-top: 2px solid #663210;
    border-bottom: 2px solid #663210;
} */

.progress {
    background-color: wheat;
    border: grey 1px solid;
    width: 80%;
    height: 25%;
    margin: 10% auto;
}

.progress>.bar {
    background-color: #92d050;
    width: 1px;
    height: 100%;
}

.board {
    --boxsize: 11vh;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(7, var(--boxsize));
    grid-template-rows: repeat(7, var(--boxsize));
    grid-gap: 0;
    width: fit-content;
    margin: auto;
}

.screen {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("../images/backgroundGame.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#player {
    position: relative;
    z-index: 10;
    width: 100%;
    float: left;
}

#player>#cookie {
    width: 80%;
    margin: auto;
    display: block;
    cursor: grab;
}

#player>#plate {
    position: absolute;
    left: -15%;
    top: 20%;
    width: 30%;
}

#food {
    position: absolute;
    top: 20%;
    width: 20%;
    margin: 5% -10%;
}


/*player 1*/

#player3 {
    position: relative;
    z-index: 10;
    width: 100%;
    float: left;
}

#player3>#cookie3 {
    width: 80%;
    margin: auto;
    display: block;
    cursor: grab;
}

#player3>#plate3 {
    position: absolute;
    left: -15%;
    top: 20%;
    width: 30%;
}

#food3 {
    position: absolute;
    top: 20%;
    width: 20%;
    margin: 5% -10%;
}


/*player 2*/

#player2 {
    position: relative;
    z-index: 10;
    width: 100%;
    float: left;
}

#player2>#cookie2 {
    width: 80%;
    margin: auto;
    display: block;
}

#player2>#plate2 {
    position: absolute;
    left: -15%;
    top: 20%;
    width: 30%;
}

#food2 {
    position: absolute;
    top: 20%;
    width: 20%;
    margin: 5% -10%;
}

.board>.square:nth-child(odd) {
    background-color: #FEE6A7;
    border: 1px solid #FEE6A7;
}

.board>.square:nth-child(even) {
    background-color: #F5AD55;
    border: 1px solid #F5AD55;
}

.board>.square:nth-child(8),
.board>.square:nth-child(9),
.board>.square:nth-child(10),
.board>.square:nth-child(11),
.board>.square:nth-child(12),
.board>.square:nth-child(13),
.board>.square:nth-child(14),
.board>.square:nth-child(15),
.board>.square:nth-child(21),
.board>.square:nth-child(28),
.board>.square:nth-child(29),
.board>.square:nth-child(35),
.board>.square:nth-child(36),
.board>.square:nth-child(37),
.board>.square:nth-child(38),
.board>.square:nth-child(39),
.board>.square:nth-child(40),
.board>.square:nth-child(41),
.board>.square:nth-child(42) {
    background-color: #7A371D;
    border: 1px solid #663210;
}

.board>.square:nth-child(1),
.board>.square:nth-child(2),
.board>.square:nth-child(3),
.board>.square:nth-child(4),
.board>.square:nth-child(5),
.board>.square:nth-child(6),
.board>.square:nth-child(7),
.board>.square:nth-child(43),
.board>.square:nth-child(44),
.board>.square:nth-child(45),
.board>.square:nth-child(46),
.board>.square:nth-child(47),
.board>.square:nth-child(48),
.board>.square:nth-child(49) {
    background-color: transparent;
    border: none;
}

#analogicalClock {
    position: relative;
    width: 20vh;
    float: right;
}

#analogicalClock>#frame {
    position: relative;
    top: 0;
    left: 0;
    width: 30%;
}

#analogicalClock>#arm {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1000ms linear all;
    width: 30%;
    float: right;
    margin: auto;
}

#time {
    display: inline-flex;
    margin: 1% 15%;
    width: 60%;
    justify-content: center;
}

#digitalClock,
#coinNumber {
    border: solid 5px black;
    border-radius: 10px;
    font-size: 3vh;
    font-weight: bold;
    color: darkred;
    font-family: Tahoma, sans-serif;
    padding: 1%;
    height: 10%;
    margin: 0 5% 0 15%;
    background-color: white;
    min-width: fit-content;
    display: inline;
    float: left;
}

#coinNumber {
    margin: auto;
}

#coins {
    height: 3vh;
    display: inline;
    float: left;
}

.recipes {
    height: 90%;
    transform: rotate(10deg);
    display: block;
    margin: auto auto;
}

#recipe1,
#recipe3 {
    transform: rotate(-10deg);
}

.sell,
.ingredients {
    height: 100%;
    display: block;
    margin: auto;
}

.board>.square:nth-child(15),
.board>.square:nth-child(29) {
    z-index: 2;
}

.sidenav-ingredients,
.sidenav,
.sidenav-selling {
    height: fit-content;
    /* 100% Full-height */
    max-height: 90%;
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    background-color: rgb(169, 209, 142);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border-radius: 10px;
    border: 1px solid #663210;
    font-family: cursive;
    font-size: 2.5vh;
}

.sidenav-selling {
    bottom: 0;
}

.game-recipe-name {
    font-family: cursive;
    text-align: center;
    font-size: 3vh;
}

#ingredientsMenu {
    top: 0;
    /* Stay at the top */
    left: 0;
}

#recipeMenu {
    top: 0;
    /* Stay at the top */
    right: 0;
}

.actions-list {
    margin-top: 12px;
    font-family: cursive;
    list-style: none;
    text-align: center;
    font-size: 2vh;
}

.ingredients-list {
    text-align: center;
    list-style: none;
    font-family: cursive;
    margin-top: -9px;
    font-size: 2vh;
}

.ingredients-title {
    margin-top: 15px;
}

.actions-title {
    text-align: center;
    font-family: cursive;
}

.actions-title,
.ingredients-title {
    font-size: 2.5vh;
}

.margin-top-27 {
    margin-top: 27px;
}

.button-game {
    margin: auto;
    display: inherit;
    background-color: rgb(245, 185, 85);
    border-radius: 10px;
    height: fit-content;
    font-size: 3vh;
    font-family: cursive;
    font-weight: bold;
}

.button-mix {
    margin: auto;
    display: inherit;
    background-color: rgb(245, 185, 85);
    border-radius: 13px;
    height: fit-content;
    font-family: cursive;
    font-weight: bold;
    font-size: 3vh;
}

.margin-5 {
    margin: 5% auto;
}

.coins {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 28px;
}

.recipe-title {
    font-size: 3vh
}

.ingredients-list2 {
    font-size: 1vh;
    text-align: center;
}

.sellTitle {
    display: inline-block;
    font-family: cursive;
    font-weight: bold;
    margin: auto;
}

#sellingMenu {
    bottom: 0;
}

.game-waiter {
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Stay on top */
    margin: 15% 35%;
    height: 200px;
    opacity: 100%;
}

.black-screen {
    z-index: 100;
    opacity: 50%;
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
}