#cookie{
    width: 50px;
    animation-name: walk;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes walk {
    0%   {left:0;   transform: rotate(-5deg);}
    25%  {transform: rotate(5deg); }
    50%  {left:100vw; transform: rotate(-5deg);}
    75%  {transform: rotate(5deg); }
    100% {left:0;   transform: rotate(-5deg);}
}