/*#########################*/


/*#        BUTTONS        #*/


/*#########################*/

.button-group .button {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
}

.button-left {
    display: flex;
    width: 100px;
    font-size: 32px;
}

.button {
    background-color: #9dc3e6;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: black;
    border: 6px solid black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    justify-content: center;
}

.button-play {
    font-size: 46px;
    text-align: center;
    padding: 10px;
    display: flex;
    width: 315px;
}

.button-gamestart {
    margin-left: 86px;
    font-size: 35px;
    padding: 15px;
    width: 220px !important;
    display: flex;
}

.button-easy {
    background-color: #A9D18E;
}

.button-medium {
    background-color: #FFD966;
}

.button-hard {
    background-color: #F4B183;
}

.button-singleplayer {
    font-size: 35px;
    padding: 10px;
    width: 145px !important;
    display: flex;
    justify-content: center;
}

.button-secondary {
    font-size: 32px;
    text-align: center;
    width: 195px;
}

#definitions {
    height: 40px;
}

#definitions img {
    width: 40px;
}

.default-button-statistics-jogos {
    background-color: rgb(254, 230, 167);
    color: rgb(158, 65, 48);
    border: 5px solid rgb(158, 65, 48);
    width: 149px;
    height: 55px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 39px;
    cursor: pointer;
}

.default-button-statistics-estatisticas {
    background-color: rgb(254, 230, 167);
    color: rgb(158, 65, 48);
    border: 5px solid rgb(158, 65, 48);
    width: 149px;
    height: 55px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 109px;
    cursor: pointer;
}

.default-button-statistics-classificacao {
    background-color: rgb(254, 230, 167);
    color: rgb(158, 65, 48);
    border: 5px solid rgb(158, 65, 48);
    width: 149px;
    height: 55px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 109px;
    cursor: pointer;
}

.default-button-statistics-classificacao-active {
    background-color: rgb(158, 65, 48);
    color: rgb(254, 230, 167);
    border: 5px solid rgb(158, 65, 48);
    width: 149px;
    height: 55px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 109px;
    outline: none;
}

.default-button-statistics-estatisticas-active {
    background-color: rgb(158, 65, 48);
    color: rgb(254, 230, 167);
    border: 5px solid rgb(158, 65, 48);
    width: 149px;
    height: 55px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 109px;
    outline: none;
}

.default-button-end-active {
    background-color: rgb(158, 65, 48);
    color: rgb(254, 230, 167);
    border: 5px solid rgb(158, 65, 48);
    width: 149px;
    height: 55px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
}

.default-button-statistics-jogos-active {
    background-color: rgb(158, 65, 48);
    color: rgb(254, 230, 167);
    border: 5px solid rgb(158, 65, 48);
    width: 149px;
    height: 55px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 39px;
    outline: none;
}

.rewind-button-statistics {
    height: 50px;
    margin-left: -725px;
    margin-top: 4px;
}

.rewind-button-rules {
    height: 50px;
    margin-left: -479px;
    margin-top: 13px;
}

.rewind-button-profile {
    height: 50px;
    margin-left: 4px;
    margin-top: 3px;
}


/*  .rewind-button-statistics:hover
{
    background-image: url("/images/rewind-button-hover.png");

}  */


/*#########################*/


/*#         MISC          #*/


/*#########################*/

.menu-line {
    display: flex;
    margin-left: 71px;
    align-items: center;
    justify-content: center;
}

#pRules {
    text-align: left;
    font-size: 50px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(158 65 48);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    margin-left: 100px;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*#########################*/


/*#        IMAGES         #*/


/*#########################*/

.img-crazy-cook-title {
    height: 175px;
    margin-left: 50px;
}

.img-profile-title {
    margin-top: -57px;
    margin-left: 85px;
    height: 160px;
}

.img-settings-title {
    margin-top: -57px;
    margin-left: 78px;
    height: 150px;
}

.img-waiting-title {
    margin-top: -54px;
    height: 241px;
    margin-bottom: -81px;
    margin-left: 87px;
}

.img-result-title {
    height: 241px;
    margin-bottom: -81px;
    margin-left: 87px;
}

.img-end-title {
    margin-top: -57px;
    height: 241px;
    margin-bottom: -81px;
    margin-left: 142px;
}

.img-profile {
    float: left;
    margin-left: 119px;
    margin-right: 31px;
}

.img-crazy-cook-title-gamestart {
    height: 175px;
    margin-left: 50px;
}

.img-cookie-man {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 15px;
}

.img-cookie-man-profile {
    width: 220px;
    margin-right: auto;
    display: table;
    margin-top: -65px;
    border-radius: 50%;
    margin-left: -33px;
    border: 5px solid rgb(158, 65, 48);
}

.img-cookie-man-statistics {
    width: 110px;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 20px;
    transform: rotate(10deg);
}

.img-cookie-man-waiting {
    width: 110px;
    position: absolute;
    top: 237px;
    left: 600px;
    transform: rotate(10deg)
}

.img-cookie-man-p1 {
    width: 110px;
    position: absolute;
    top: 237px;
    left: 70px;
    transform: rotate(-10deg) scaleX(-1);
}

.img-cookie-man-p2 {
    width: 110px;
    position: absolute;
    top: 237px;
    left: 600px;
    transform: rotate(10deg)
}

.img-coins-end {
    width: 21px;
    position: absolute;
    top: 316px;
    left: 256px;
}

.img-facebook {
    width: 76px;
    position: absolute;
    top: 408px;
    left: 455px;
    cursor: pointer;
}

.img-dish-end {
    width: 21px;
    position: absolute;
    top: 288px;
    left: 257px;
}

.img-book-group {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.img-orange-book {
    width: 80px;
}

.img-green-book {
    width: 80px;
    transform: rotate(-30deg);
}

.img-yellow-book {
    width: 80px;
    transform: rotate(15deg);
}

.img-rules-title {
    height: 150px;
    display: block;
    margin: auto auto auto 43px;
}

.img-statistics-title {
    height: 150px;
    display: block;
    margin-left: 40px;
}

.container-middle-singleplayer {
    width: 50px;
    padding-top: 190px;
}

.img-pointer {
    height: 220px;
}

.img-singleplayer {
    position: absolute;
    top: 8px;
    left: 580px;
}

.rewind-button-gameStart {
    position: absolute;
    top: 8px;
    left: 5px;
    height: 50px;
}


/*#########################*/


/*#        MARGINS        #*/


/*#########################*/

.margin-top-25 {
    margin-top: 25px;
}

.margin-singleplayer-top {
    margin-top: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-bot-15 {
    margin-bottom: 15px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-151 {
    margin-left: 151px;
}

.margin-left-251 {
    margin-left: 251px;
}


/*#########################*/


/*#        DISPLAYS       #*/


/*#########################*/

.display-flex {
    display: flex;
}

.display-inline-block {
    display: inline-block;
}


/*#########################*/


/*#       SCROLL BAR      #*/


/*#########################*/

::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-track {
    background: rgb(255 184 109);
    border: 1px solid rgb(158, 65, 48);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(158, 65, 48);
}


/*#########################*/


/*#        CARDS      #*/


/*#########################*/

.card-group-rules {
    height: 320px;
    overflow: auto;
    width: 666px;
    margin-left: 42px;
    margin-right: 15px;
    margin-top: 27px;
    overflow-x: hidden;
}

.card-group-statistics {
    height: 250px;
    overflow: auto;
    width: 720px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.card-group-ranking {
    height: 250px;
    width: 720px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.card {
    width: 620px;
    height: 205px;
    border: 6px solid rgb(158, 65, 48);
    border-radius: 25px;
    background-color: rgb(255 184 109);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-statistics {
    width: 656px;
    border: 7px solid rgb(158, 65, 48);
    border-radius: 22px;
    background-color: rgb(254 230 167);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 23px;
    margin-bottom: 15px;
}

.card-settings {
    width: 300px;
    border: 6px solid rgb(158, 65, 48);
    border-radius: 22px;
    background-color: rgb(254 230 167);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 207px;
    margin-bottom: 15px;
    height: 240px;
    margin-top: 20px;
}

.card-waiting {
    width: 300px;
    border: 6px solid rgb(158, 65, 48);
    border-radius: 22px;
    background-color: rgb(254 230 167);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 234px;
    margin-bottom: 15px;
    height: 240px;
    margin-top: 12px;
}

.card-end {
    width: 300px;
    border: 6px solid rgb(158, 65, 48);
    border-radius: 22px;
    background-color: rgb(254 230 167);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 234px;
    margin-bottom: 15px;
    height: 200px;
    margin-top: 12px;
}

.card-ranking {
    width: 534px;
    border: 5px solid rgb(158, 65, 48);
    border-radius: 19px;
    background-color: rgb(254 230 167);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -636px;
    margin-top: 225px;
    height: 240px;
}

.card-statistics-statistics {
    width: 388px;
    border: 5px solid rgb(158, 65, 48);
    border-radius: 30px;
    background-color: rgb(254 230 167);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -559px;
    margin-top: 219px;
    height: 237px;
}

.card-group-statistics-statistics {
    height: 250px;
    width: 720px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.card>div:first-child {
    width: 85%;
}

.card>div:nth-child(2) {
    width: 15%;
}

.img-rules {
    width: 238px;
    margin-top: 5px;
    right: 158px;
    position: relative;
}

.img-rules-rank {
    width: 238px;
    margin-top: 24px;
    right: 158px;
    position: relative;
}


/*#########################*/


/*#         SIZES         #*/


/*#########################*/

.container-left-rules {
    width: 484px;
}

.container-left-gameStart {
    width: 380px;
}

.container-right-gameStart {
    width: 368px;
}

.container-right-singleplayer {
    padding-top: 182px;
}

.container-right-rules {
    width: 266px;
}

.container-left-statistics {
    width: 750px;
}

.width-80 {
    width: 80%;
}

.width-20 {
    width: 20%;
}

.width-100 {
    width: 100%;
}

.width-100px {
    width: 100px;
}

.info-section-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

.info-section-group-statistics {
    margin-bottom: 10px;
    margin-top: 7px;
}

.info-section {
    font-size: 18px;
    width: 230px;
    margin-left: 10px;
    border: 5px solid rgb(158, 65, 48);
    border-radius: 10px;
    color: rgb(158, 65, 48);
    font-weight: bold;
    background-color: rgb(255 184 109);
}

.info-section-end {
    font-size: 18px;
    width: 230px;
    margin-left: 30px;
    border: 5px solid rgb(158, 65, 48);
    border-radius: 10px;
    color: rgb(158, 65, 48);
    font-weight: bold;
    background-color: rgb(255 184 109);
}

.info-section-statistics {
    font-size: 18px;
    width: 241px;
    margin-left: 10px;
    border: 5px solid rgb(158, 65, 48);
    border-radius: 10px;
    color: rgb(158, 65, 48);
    font-weight: bold;
    background-color: rgb(255 184 109);
    margin-top: 7px;
}

.info-section-profile {
    font-size: 22px;
    width: 342px;
    margin-left: 10px;
    border: 5px solid rgb(158, 65, 48);
    border-radius: 10px;
    color: rgb(158, 65, 48);
    font-weight: bold;
    background-color: rgb(255 184 109);
    margin-top: 20px;
}

.input-settings-1st {
    margin-left: 30px;
    font-family: cursive;
}

.input-settings {
    margin-left: 30px;
    margin-top: 15px;
    font-family: cursive;
}

.info-section-title {
    margin-left: 10px;
    width: 190px;
}

.info-section-title-profile {
    margin-left: 10px;
    width: 71px;
}

.info-section-result {
    width: 60px;
    padding: 0 10px;
    border-left: 5px solid rgb(158, 65, 48);
    background-color: rgb(254 230 167);
}

.info-section-result-profile {
    width: 235px;
    padding: 0 10px;
    border-left: 5px solid rgb(158, 65, 48);
    background-color: rgb(254 230 167);
}

.default-label {
    font-size: 18px;
    font-weight: bold;
    color: rgb(158, 65, 48);
}

.default-label-statistics-statistics {
    font-size: 18px;
    font-weight: bold;
    color: rgb(158, 65, 48);
    background-color: rgb(255 184 109);
}

.default-label-statistics-statistics-td {
    font-size: 18px;
    color: rgb(158, 65, 48);
    font-weight: bold;
    background-color: rgb(254 230 167);
}

.default-label-ranking-statistics {
    font-size: 20px;
    font-weight: bold;
    color: rgb(158, 65, 48);
}

.table-ranking {
    margin-top: 10px;
    border: rgb(158, 65, 48);
    text-align: center;
}

.secondary-label {
    font-size: 18px;
    color: rgb(158, 65, 48);
}

.h2-settings {
    text-align: center;
    color: rgb(158, 65, 48);
    font-family: cursive;
    margin-top: 10px;
}

.h2-waiting {
    text-align: center;
    color: rgb(158, 65, 48);
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}

.h1-end {
    text-align: center;
    color: rgb(158, 65, 48);
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
}

.text-align-center {
    text-align: center;
}


/*#########################*/


/*#         TABLES        #*/


/*#########################*/

.default-table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

.default-table td {
    border: 2px solid rgb(158, 65, 48);
}

.default-table th {
    border: 2px solid rgb(158, 65, 48);
}

.default-table .hidden-tr td {
    border: transparent;
}

.default-table-end {
    text-align: center;
    border-collapse: collapse;
    margin: 25px auto auto;
}

.list-cards {
    list-style: none;
}

.list-rules {
    width: 314px;
}